In [1]:
from os.path import join
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
## Data Import
data = pd.read_csv(join('data','data.csv'), encoding='CP949')
data.head(5)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-11-16,10,415,415. DMC역 9번출구 앞,정기권,NaN,30대,1,17.96,0.17,720,3
1,2019-11-16,10,2110,2110. 조원동 미성아파트,정기권,NaN,30대,1,71.79,0.57,2450,31
2,2019-11-16,10,2139,2139. 서울신성초등학교,정기권,NaN,30대,1,83.66,0.75,3250,13
3,2019-11-16,10,2355,2355. 삼성역 5~6번 출구 사이,정기권,NaN,30대,1,0,0,0,25
4,2019-11-16,10,2349,2349. 역삼빌딩 앞(하나은행 옆),정기권,NaN,30대,1,11.58,0.1,450,4

In [7]:
## Remove columns we do not use in this example
df = np.array(data)
nvar= df.shape[1]
datax = df[:20000,7:nvar]
datay = df[:20000,0]

In [8]:
print(datax[0:5,:])

[[1 '17.96' '0.17' 720 3]
 [1 '71.79' '0.57' 2450 31]
 [1 '83.66' '0.75' 3250 13]
 [1 '0' '0' 0 25]
 [1 '11.58' '0.1' 450 4]]

In [9]:
datax_scale = datax
for i in range(nvar-1):
    datax_scale[:,i]=(datax[:,i]-np.mean(datax[:,i]))/np.std(datax[:,i])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3, init='random', random_state=122)
kmeans.fit(datax_scale)
# 전처리된 data에 대해서 KMeans 함수를 사용할 수 있다.
#단 unsupervised이기 때문에 input 변수만 넣어야한다.